html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

/* This file contains the base typography styles for the project */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", sans-serif;
  color: #333;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.17em;
}

h4 {
  font-size: 1em;
}

h5 {
  font-size: 0.83em;
}

h6 {
  font-size: 0.67em;
}

p {
  margin-bottom: 1em;
}

header {
  background-image: linear-gradient(315deg, rgba(178, 210, 52, 0.5), rgba(96, 160, 216, 0.5)), url("../images/Header back.png");
  background-size: cover;
  background-position: center;
  color: #ffffff;
  height: 100vh;
}
header > nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 46px 0 40px;
}
header > nav > ul {
  display: flex;
  gap: 50px;
}
header > nav > ul > li {
  font-size: 18px;
  font-weight: 300;
  font-family: "Poppins", sans-serif;
}
header > nav > button {
  background-color: #B2D234;
  border: none;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  padding-inline: 60px;
  padding-block: 14px;
  box-shadow: 0px 8px 60px #616161;
  background-color: #ffffff;
  font-size: 15px;
  color: #B2D234;
  padding-inline: 50px;
  padding-block: 9px;
}
header > .titre {
  height: calc(100% - 300px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header > .titre > h1 {
  color: #ffffff;
  font-size: 126px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
}
header > .titre > h2 {
  position: absolute;
  top: 50%;
  left: 40%;
  color: #ffffff;
  font-size: 54px;
  font-style: italic;
  font-family: "Poppins", sans-serif;
  rotate: -9deg;
}
header > .header-icon {
  display: flex;
  align-items: flex-end;
  gap: 20px;
}

footer {
  display: flex;
  padding-block: 66px;
  background-color: #B2D234;
  align-items: center;
  justify-content: center;
  gap: 100px;
  text-align: center;
}
footer > div > h4 {
  color: #ffffff;
  font-size: 27px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 27px;
}
footer > a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
@media screen and (max-width: 375px) {
  footer {
    flex-direction: column;
    gap: 30px;
  }
}

.footer-ul > li > a {
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.section {
  background-image: url("../images/61842.png");
  display: flex;
  height: 100vh;
}
.section-div {
  margin-top: 159px;
  margin-left: 148px;
  margin-bottom: 148.5px;
  position: relative;
  width: 40%;
  height: 475px;
}
.section-title {
  font-size: 52px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #B2D234;
  margin-bottom: 40px;
}
.section-content {
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #606060;
  width: 74%;
  margin-bottom: 40px;
}
.section-content > br {
  margin-bottom: 10px;
}
.section-button {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #B2D234;
  border: none;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  padding-inline: 60px;
  padding-block: 14px;
  box-shadow: 0px 8px 60px #616161;
}
.section-img {
  position: absolute;
  left: 950px;
  top: 760px;
  z-index: -1;
}

.section2 {
  background-image: url("../images/ismael-trevino-NDyuR4Huig8-unsplash.png");
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 10%;
}
.section2-div {
  width: 632px;
  height: 642px;
  background-color: rgba(178, 210, 52, 0.8);
}
.section2-titre {
  padding-top: 2%;
  font-size: 52px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  padding-inline: 68px;
  line-height: 52px;
  margin-bottom: 40px;
}
.section2-content {
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  padding-inline: 80px;
}
.section2-content > a {
  border-bottom: 1px solid #ffffff;
}
.section2-content-semi-bold {
  font-weight: 600;
}
.section2-content > br {
  margin-bottom: 10px;
}
.section2-button {
  background-color: #B2D234;
  border: none;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  padding-inline: 60px;
  padding-block: 14px;
  box-shadow: 0px 8px 60px #616161;
  background-color: #ffffff;
  color: #B2D234;
  margin-inline: 188px;
  margin-top: 40px;
}

.section3 {
  background-image: url("../images/pattern.png");
  padding-top: 71px;
  padding-bottom: 81px;
}
.section3-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3-titre {
  font-size: 52px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #B2D234;
  margin-bottom: 30px;
}
.section3-content {
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #606060;
  text-align: center;
}
.section3-card-choix {
  display: flex;
  justify-content: space-between;
  margin-top: 87px;
}
.section3-card {
  width: 27%;
  margin-left: 148px;
}
.section3-card-content {
  margin: 2%;
  width: 524px;
}
.section3-card-content-flex {
  display: flex;
  justify-content: space-between;
  padding: 2%;
}
.section3-card-content-flex > h3 {
  color: #B2D234;
  font-weight: 500;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
}
.section3-card-content > p {
  padding-inline: 2%;
  font-size: 18px;
  color: #606060;
  font-family: "Poppins", sans-serif;
}
.section3-choix {
  margin-right: 198px;
  width: 437px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section3-choix-vert {
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  color: #B2D234;
  rotate: -9deg;
}
.section3-choix-bleu {
  font-size: 64px;
  font-family: "Poppins", sans-serif;
  color: #60A0D8;
  rotate: -9deg;
}
.section3-choix-content {
  margin-top: 90px;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: #606060;
  text-align: center;
}
.section3-choix-button {
  background-color: #B2D234;
  border: none;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  padding-inline: 60px;
  padding-block: 14px;
  box-shadow: 0px 8px 60px #616161;
  margin-top: 90px;
}

.special {
  border: #B2D234 solid 1px;
}

.section4 {
  background-image: url("../images/louis-hansel-MlPD-AzZYMg-unsplash.png");
  background-size: cover;
  height: 100vh;
  padding-top: 138px;
}
.section4-container {
  display: flex;
  justify-content: space-between;
  padding-inline: 3%;
}
.section4-container-couleur {
  width: 632px;
  height: 410px;
}
.section4-container-couleur-vert {
  background-color: rgba(178, 210, 52, 0.8);
}
.section4-container-couleur-bleu {
  background-color: rgba(96, 160, 216, 0.8);
}
.section4-category {
  height: 347px;
  align-items: center;
  margin-inline: 100px;
  text-align: center;
  margin-top: 24px;
}
.section4-category-flex {
  display: flex;
  align-items: center;
}
.section4-category-title {
  font-size: 54px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  margin-bottom: 40px;
}
.section4-category-ingredients {
  width: 100%;
  height: 234px;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}

.section5 {
  background-image: url("../images/61842.png");
  display: flex;
  align-items: center;
  height: 100vh;
  margin-inline: 50px;
}
.section5-image {
  width: 450px;
  height: 450px;
}
.section5-content {
  margin-left: 100px;
  width: 510px;
}
.section5-content-title {
  font-size: 52px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #B2D234;
}
.section5-content-description {
  color: #606060;
  font-size: 18px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
}
.section5-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 100px;
}
.section5-form > div {
  display: flex;
}
.section5-label {
  color: #B2D234;
  font-size: 24px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  font-style: italic;
  margin-right: 10px;
  margin-bottom: 10px;
}
.section5-label-prenom {
  padding: 10%;
}
.section5-input {
  margin-bottom: 10px;
  height: 30px;
}
.section5-input-nom {
  width: 300px;
}
.section5-input-prenom {
  margin-left: 10%;
  width: 300px;
}
.section5-textarea {
  margin-bottom: 10px;
}
.section5-submit {
  margin-top: 30px;
  align-self: center;
  background-color: #B2D234;
  border: none;
  font-size: 24px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #ffffff;
  border-radius: 5px;
  padding-inline: 60px;
  padding-block: 14px;
  box-shadow: 0px 8px 60px #616161;
}

/*# sourceMappingURL=style.css.map */
