.section{
    background-image:url("../images/61842.png");
    
    display: flex;
    height: 100vh;

    &-div {
        margin-top: 159px;
        margin-left: 148px;
        margin-bottom: 148.5px;
        position: relative;
        width: 40%;
        height: 475px;

    }

    &-title {
        font-size: $font-size-large;
        font-weight: $font-weight-semi-bold;
        font-family: $font-family;
        color: $primary-color;
        margin-bottom: 40px;
    }

    &-content {
        font-size: $font-size;
        font-weight: $font-weight-regular;
        font-family: $font-family;
        color: $font-color;
        width: 74%;
        margin-bottom: 40px;

        & > br {
            margin-bottom: 10px;
        }

    }

    &-button {
        position: absolute;
        bottom: 0;
        left: 0;

        @include button;
        
    }

    &-img {
        position: absolute;
        left: 950px;
        top: 760px;
        z-index: -1;
    }
}
