header {
    background-image: $color-gradient, url("../images/Header back.png");
    background-size: cover;
    background-position: center;

    color: $color-white;
    height: 100vh;

    & > nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 25px 46px 0 40px;

        & > ul {
            display: flex;
            gap: 50px;

            & > li {
                font-size: $font-size;
                font-weight: $font-weight-light;
                font-family: $font-family;
            }
        }

        

        & > button {
            @include button;
            background-color: $color-white;
            font-size: $font-size-small;
            color: $primary-color;
            padding-inline: 50px;
            padding-block: 9px;

        }

    }
    
    & > .titre {
        height: calc(100% - 300px);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        & > h1 {
            color: $color-white;
            font-size: $font-size-title;
            font-weight:$font-weight-medium;
            font-family: $font-family;
        }

        & > h2 {
            position: absolute;
            top: 50%;
            left: 40%;
            color: $color-white;
            font-size: $font-size-x-large;
            font-style: italic;
            font-family: $font-family;
            rotate: -9deg;
        }
    }

    & > .header-icon {
        display: flex;
        align-items: flex-end;
        gap: 20px;
    }
}
    






