// This file is intentionally left blank


$primary-color: #B2D234;

$color-gradient: linear-gradient(315deg, rgba(#B2D234, 0.5), rgba(#60A0D8, 0.5));
$font-color: #606060;
$color-white: #ffffff;


$font-family: 'Poppins', sans-serif;

$font-size-small: 15px;
$font-size: 18px;
$font-size-medium: 24px;
$font-size-x-medium: 27px;
$font-size-large: 52px;
$font-size-x-large: 54px;
$font-size-xx-large: 64px;
$font-size-title: 126px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;

